<section class="contact">
    <h2>Contact Me..</h2>

    <div class="contact__list">
        <div class="contact__email">
            <i class="fas fa-envelope"></i> Email
            <div class="text-secondary">email@email.com</div>
        </div>
        <div class="contact__phone">
            <i class="fas fa-mobile-alt"></i> Phone
            <div class="text-secondary">+1 (555) 555-5555</div>
        </div>
        <div class="contact__address">
            <i class="fas fa-marker-alt"></i> Address
            <div class="text-secondary">123 First Street, Houston, Texas</div>
        </div>
    </div>

    <div class="social-icons">
        <a href="#!">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#!">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="#!">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
    <footer>
        &copy; Copyright 2023
    </footer>
</section>