<body>
  <header>
    <div class="menu-btn" (click)="toggleMenu()">
      <span class="menu-btn__burger"></span>
    </div>
    <nav class="nav" (click)="toggleMenu()">
      <ul class="menu-nav">
        <li class="menu-nav__item" routerLinkActive="active" (click)="menuClick('Home')">
          <a routerLink="../home" class="menu-nav__link">Home</a>
        </li>
        <li class="menu-nav__item" routerLinkActive="active" (click)="menuClick('About')">
          <a routerLink="../about" class="menu-nav__link">About Me</a>
        </li>
        <li class="menu-nav__item" routerLinkActive="active" (click)="menuClick('Projects')">
          <a routerLink="./projects" class="menu-nav__link">My Projects</a>
        </li>
        <li class="menu-nav__item" routerLinkActive="active" (click)="menuClick('Contact')">
          <a routerLink="./contact" class="menu-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <ng-container *ngIf="activeTabHome">
      <section class="home">
        <h2>Hi! My Name Is</h2>
        <h1 class="home__name">
          Mike <span class="home__name--last">
            Smith
          </span>
        </h1>
        <h2>
          Web Developer, Designer & Programmer
        </h2>

        <div class="social-icons">
          <a href="#!">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="#!">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="#!">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="#!">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </div>
        <footer>
          &copy; Copyright 2023
        </footer>
      </section>
    </ng-container>
    <ng-container *ngIf="!activeTabHome">
      <router-outlet></router-outlet>
    </ng-container>
  </main>
</body>